SoapTesting/Connected Services/SOAPService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59593/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAP" />
  <xs:element name="SP_LISTARPRODUCTO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_LISTARPRODUCTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_LISTARPRODUCTOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTARPRODUCTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAP" minOccurs="0" name="prod" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTARPRODUCTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ACTUALIZARPRODUCTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAP" minOccurs="0" name="prod" nillable="true" type="q2:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ACTUALIZARPRODUCTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ELIMINARPRODUCTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAP" minOccurs="0" name="prod" nillable="true" type="q3:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_ELIMINARPRODUCTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_BUSCARPRODUCTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAP" minOccurs="0" name="prod" nillable="true" type="q4:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_BUSCARPRODUCTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_BUSCARPRODUCTOResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>