SoapTesting/Connected Services/SOAPService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59593/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59593/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59593/Service1.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:59593/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SP_LISTARPRODUCTO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARPRODUCTO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_LISTARPRODUCTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARPRODUCTOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_INSERTARPRODUCTO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_INSERTARPRODUCTO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_INSERTARPRODUCTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_INSERTARPRODUCTOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_ACTUALIZARPRODUCTO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_ACTUALIZARPRODUCTO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_ACTUALIZARPRODUCTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_ACTUALIZARPRODUCTOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_ELIMINARPRODUCTO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_ELIMINARPRODUCTO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_ELIMINARPRODUCTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_ELIMINARPRODUCTOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_BUSCARPRODUCTO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_BUSCARPRODUCTO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_BUSCARPRODUCTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_BUSCARPRODUCTOResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SP_LISTARPRODUCTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_LISTARPRODUCTO" message="tns:IService1_SP_LISTARPRODUCTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_LISTARPRODUCTOResponse" message="tns:IService1_SP_LISTARPRODUCTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_INSERTARPRODUCTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_INSERTARPRODUCTO" message="tns:IService1_SP_INSERTARPRODUCTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_INSERTARPRODUCTOResponse" message="tns:IService1_SP_INSERTARPRODUCTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_ACTUALIZARPRODUCTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_ACTUALIZARPRODUCTO" message="tns:IService1_SP_ACTUALIZARPRODUCTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_ACTUALIZARPRODUCTOResponse" message="tns:IService1_SP_ACTUALIZARPRODUCTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_ELIMINARPRODUCTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_ELIMINARPRODUCTO" message="tns:IService1_SP_ELIMINARPRODUCTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_ELIMINARPRODUCTOResponse" message="tns:IService1_SP_ELIMINARPRODUCTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_BUSCARPRODUCTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_BUSCARPRODUCTO" message="tns:IService1_SP_BUSCARPRODUCTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_BUSCARPRODUCTOResponse" message="tns:IService1_SP_BUSCARPRODUCTO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_LISTARPRODUCTO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_LISTARPRODUCTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_INSERTARPRODUCTO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_INSERTARPRODUCTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_ACTUALIZARPRODUCTO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_ACTUALIZARPRODUCTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_ELIMINARPRODUCTO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_ELIMINARPRODUCTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_BUSCARPRODUCTO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_BUSCARPRODUCTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59593/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>